/* Base styles */
.login-popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  width: 90vw;
  max-width: 500px;
  height: auto;
  position: relative;
}

.close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
  border: none;
}
.close-button:hover {
  border: 2px solid rgb(255, 123, 0);
}

.form-group {
  margin: 1rem 0;
  font-size: 1rem;
  font-weight: 500;
  position: relative;
}

.form-group label {
  display: block;
  padding: 0.5rem 0;
}

.form-group input {
  width: 100%;
  padding: 1rem 1rem 1rem 5rem; /* Adjusted padding to fit icon better */
  box-sizing: border-box;
}

.form-group .icon {
  position: absolute;
  left: 1.9rem;
  top: 70%;
  transform: translateY(-50%);
  font-size: 1.7rem;
  color: #111010;
}

.button-container {
  display: flex;
  justify-content: center;
}

.login-button {
  width: 100%;
  padding: 0.75rem;
  border: 2px solid rgb(255, 123, 0);
  background-color: rgb(255, 123, 0);
  color: rgb(7, 7, 7);
  cursor: pointer;
  border-radius: 50px;
  font-weight: 500;
  font-size: 1rem;
  transition: transform 0.2s;
}
.login-button:active {
  transform: scale(0.96);
}

.link-login {
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 500;
  gap: 0.5rem;
}

.sign-up {
  text-decoration: none;
  color: rgb(255, 123, 0);
}

/* Media queries for responsiveness */
@media (min-width: 768px) {
  .popup-content {
    width: 70vw;
    max-width: 600px;
  }

  .form-group {
    font-size: 1.25rem;
  }

  .login-button {
    font-size: 1.25rem;
  }

  .link-login {
    font-size: 1.25rem;
  }
}

@media (max-width: 480px) {
  .popup-content {
    padding: 1rem;
  }

  .form-group {
    font-size: 0.9rem;
  }

  .login-button {
    padding: 0.5rem;
    font-size: 0.9rem;
  }

  .link-login {
    font-size: 0.9rem;
  }
}

@media (min-width: 1024px) {
  .popup-content {
    width: 50vw;
    max-width: 700px;
  }

  .form-group {
    font-size: 1.5rem;
  }

  .login-button {
    font-size: 1.5rem;
  }

  .link-login {
    font-size: 1.5rem;
  }
}
