.signup-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup-form {
  position: relative;
  background: white;
  padding: 50px;
  border-radius: 8px;
  width: 700px;
  height: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.signup-form h2 {
  text-align: center;
  font-size: 45px;
  margin-top: 0;
}

.signup-form button[type="submit"] {
  width: 100%;
  padding: 20px;
  background-color: rgb(255, 134, 0);
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-weight: 500;
  font-size: 1.5rem;
  transition: transform 0.2s;
}

.signup-form:active {
  transform: scale(0.98);
}

.close-button {
  position: absolute;
  top: 25px;
  right: 30px;
  background: none;
  border: none;
  font-size: 35px;
  color: #050505;
  cursor: pointer;
}

.close-button:hover {
  color: #060606;
}

.input-container {
  position: relative;
  margin-bottom: 8px;
}

.input-container .icon {
  position: absolute;
  top: 50%;
  left: 25px;
  transform: translateY(-50%);
  font-size: 1.8rem;
  color: #070707;
}

.input-container input {
  width: 100%;
  padding: 22px 20px 22px 70px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .signup-form {
    width: 90%;
    padding: 20px;
  }

  .signup-form h2 {
    font-size: 2rem;
  }

  .signup-form button[type="submit"] {
    font-size: 1rem;
  }

  .close-button {
    font-size: 30px;
    top: 15px;
    right: 15px;
  }
}

@media (max-width: 480px) {
  .signup-form {
    width: 95%;
    padding: 15px;
  }

  .signup-form h2 {
    font-size: 1.5rem;
  }

  .signup-form button[type="submit"] {
    font-size: 0.9rem;
    padding: 15px;
  }

  .close-button {
    font-size: 25px;
    top: 10px;
    right: 10px;
  }
}
