/* HeaderThird.css */

.header-third {
  background-color: #f8f9fa;
  margin: 25px;
  text-align: center;
}

.header-menu {
  display: flex;
  justify-content: center; /* Center the menu items */
  flex-wrap: wrap; /* Allow the menu items to wrap */
}

.header-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap; /* Allow the list items to wrap */
  justify-content: center; /* Center the list items */
}

.header-menu li {
  margin: 0 10px; /* Reduced margin for smaller screens */
  padding: 5px 30px; /* Reduced padding for smaller screens */
}

.header-menu a {
  text-decoration: none;
  color: #060606;
  font-size: 18px; /* Adjust font size for smaller screens */
  font-weight: 500;
}

/* Media Queries */
@media (min-width: 576px) {
  .header-menu a {
    font-size: 20px; /* Slightly larger font size for larger screens */
  }
}

@media (min-width: 768px) {
  .header-menu a {
    font-size: 22px; /* Larger font size for tablets and above */
  }
}

@media (min-width: 992px) {
  .header-menu a {
    font-size: 25px; /* Default font size for larger screens */
  }
}
